.character{
  width: 500px;
  height: 500px;
  float: right;
  margin-top: 60px;
}

body{
  background-color: rgb(245, 224, 182);
}

.artboard {
            position: relative;
            width: 200px;
            height: 200px;
            display: none;
        }

            .wrapper {
                position: relative;
                margin: 40px auto;
                width: 500px;
                padding: 40px;
                background: #FFF;
                perspective: 200px;
                perspective-origin: 100px 200px;
            }
